<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A shopping list to share</h1>
    <p>
      You have received an invitation to share a shopping list with the app LiShop.<br>
    </p>
    <p>
			This email includes a file with the configuration for LiShop app.<br><br>Once you receive this mail on the device, open the attached file on your iPhone or iPad and send it to LiShop app. The app will be opened and will be automatically configured.
    </p>
  </body>
</html>